
<%- include("partial/header"); -%> 

<h1>Successfull!!!</h1>
<h3>Thanks! <%= userName %>   </h3>
<h3>Your Message:</h3>
<div><p>  <%= yourMessage %>   </p></div>
<h4> You have successfully sent your message. We will review your message very soon. Thank you very much for your feedback.</h4>

<%- include("partial/footer"); -%> 