
body{
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    
}
h1,h2,h3,h4,h5,h6,li a{
    font-weight: bold;
}
.search{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.form-i{
    margin-top: 15px;
    width: 350px;
    height: 35px;
    border-radius:10px solid rgb(70, 139, 223);
}
.form-i:focus{
    outline: none;
    border-color: rgb(4, 48, 48);
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
/* .stiky{
    position:relative;
    top: 0;
    left: 0;
    right: 0;
} */
.navbar {
    
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
li a{
    letter-spacing: 2px;
    font-size: 12px;
}
.navbar-nav  li a:hover {
    color: #aed2c7 !important;
}

.footer-padding {
	padding-bottom: 60px;
}

.footer {
	/* position: ; */
    display: flex;
    justify-content: center;
    align-items: center;
	text-align: center;
	/* bottom: 0; */
	width: 100%;
	height: 100px;
	background-color: #e2e7ea;
}

.footer p {
	/* margin-top: 25px; */
	font-size: 18px;
    font-weight: bold;
    font-family: cursive;
    color: rgb(28, 28, 29);
}
.footer a{
    font-family: serif;
}
footer{
    align-items: flex-start;
}