
</div>
</div>
<footer>
  <div class="footer-padding"></div>
  <div class="footer">
    <p>All Copyrights are Reservred <%= year %>.  <br> Made with ❤️ by <a href="https://www.linkedin.com/in/ashish-biswas" target="_blank">Ashish Biswas</a></p>
  </div>
</footer>
</body>
</html>
