<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Bloggs</title>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="myicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
  <div class="stiky">
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <p class="navbar-brand">DAILY BLOGGS</p>
        </div>
        <!-- <div class="navbar-search">
          <form class="form-group" action="/search" method="post">
            <input class="form" style="width:250px;height:45px;" type="text" name="queryTxt" placeholder="Search your query" required="on" autocomplete="off">
            <button class="btn btn-warning" type="submit" name="" value="">Search</button>
          </form>
        </div> -->
        <ul class="nav navbar-nav navbar-right">
            <!-- 6 -->
            <li id="home"><a href="/">HOME</a></li>
            <li id="about"><a href="/about">ABOUT US</a></li>
            <li id="contact"><a href="/contact">CONTACT US</a></li>
        </ul>
      </div>
    </nav>
  </div>

  <body>
    <div class="container">
